---
import type { Recipe } from '../../types';
import Text from '../ui/Text.astro';
interface Props {
  recipe: Recipe;
}

const { recipe } = Astro.props;

const difficultyColors = {
  easy: 'bg-deep-earth text-vivid-rose',
  medium: 'bg-dusty-rose text-deep-earth',
  hard: 'bg-vivid-rose text-deep-earth',
};

const methodLabels = {
  'mocca': 'Moka Pot',
  'french-press': 'French Press',
  'chocolate': 'Chocolate',
};

const grindLabels = {
  fine: 'Fine',
  medium: 'Medium',
  coarse: 'Coarse',
};
---

<div class="w-full">
  <header class="mb-3">
    <Text variant="title" class=`text-2xl px-2 py-0.5 rounded bg-vivid-rose`>{recipe.name}</Text>
    <div class="mt-3">
      <span class={`text-md px-2 py-0.5 rounded ${difficultyColors[recipe.difficulty]}`}>
        {recipe.difficulty.charAt(0).toUpperCase() + recipe.difficulty.slice(1)}
      </span>
    </div>
    
  </header>

  <Text variant="subtitle" class="text-sm mb-3">{recipe.description}</Text>

  <div class="grid grid-cols-2 gap-2 text-xs mb-3">
    <div class="flex flex-col items-center text-center">
      <Text variant="subtitle" class="text-lg">Coffee:</Text>
      <Text variant="info" class="text-xl">{recipe.coffeeAmount}g</Text>
    </div>
    <div class="flex flex-col items-center text-center">
      <Text variant="subtitle" class="text-lg">Water:</Text>
      <Text variant="info" class="text-xl">{recipe.waterAmount}ml</Text>
    </div>
    <div class="flex flex-col items-center text-center">
      <Text variant="subtitle" class="text-lg">Temp:</Text>
      <Text variant="info" class="text-xl">{recipe.waterTemp}°C</Text>
    </div>
    <div class="flex flex-col items-center text-center">
      <Text variant="subtitle" class="text-lg">Grind:</Text>
      <Text variant="info" class="text-xl">{grindLabels[recipe.grindSize] || recipe.grindSize}</Text>
    </div>
  </div>

  <div class="text-xs text-muted-slate">
    <span class="font-pixel">{methodLabels[recipe.method]}</span>
  </div>
</div>
